*{
    background-color: red;
    margin: 0;
    padding: 0;
}

.main-container{
  height: 100vh;
  width: 100vw;
  background-color: green;
  display:grid;
  grid-template-columns: repeat(auto,1fr);
  grid-template-rows: repeat(auto,1fr);
}

.bot{
    background-color: blue;
    height: 10%;
    width: 50vw;
    grid-column: 1;
    grid-row: 1;
}

.dice{
    background-color: orange;
    height: 10%;
    width: 50vw;
    grid-column: 1;
    grid-row: 1/span 2;
}

.menu{
    background-color: purple;
    height: 100vh;
    width: 50vw;
    grid-column: 2;
}