.Create_elements
{
    width: 120px;
    height: 40px;
    background-color: aqua;
    justify-content: center;
    font-size: 10px;
}

.div
{
    display: grid;
    justify-content: center;
}

.element-box
{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: stretch;
    justify-items: stretch;

    border: 4px solid green;
}

.divs
{
    display: grid;
    justify-items: center;
    align-items: center;
    
}
